<%= render "shared/second-header"%>

<%= form_with model: @host, url: host_registration_path, method: :patch, class: 'registration-main', local: true do |f| %>
<div class='form-wrap'>
  <div class='form-header'>
    <h1 class='form-header-text'>
      宿主さん情報編集
    </h1>
  </div>

  <%= render 'shared/error_messages', model: f.object %>

  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">ニックネーム</label>
      <span class="indispensable">必須</span>
      <span class="release-info">（公開あり）</span>
    </div>
    <%= f.text_area :nickname, class:"input-default", id:"nickname", placeholder:"例) nekotome花子", maxlength:"40" %>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">メールアドレス</label>
      <span class="indispensable">必須</span>
      <span class="release-info">（公開なし）</span>
    </div>
    <%= f.email_field :email, class:"input-default", id:"email", placeholder:"PC・携帯どちらでも可", autofocus: true %>
  </div>

  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">お名前(全角)</label>
      <span class="indispensable">必須</span>
      <span class="release-info">（公開なし）</span>
    </div>
    <div class='input-name-wrap'>
      <%= f.text_area :last_name, class:"input-name", id:"last-name", placeholder:"例) 山田" %>
      <%= f.text_area :first_name, class:"input-name", id:"first-name", placeholder:"例) 陸太郎" %>
    </div>
  </div>

  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">性別</label>
      <span class="indispensable">必須</span>
      <span class="release-info">（公開あり）</span>
    </div>
    <div class='input-name-wrap'>
        <%= f.collection_select(:sex_id, Sex.all, :id, :name, {}, {class:"select-box", id:"sex"}) %>
    </div>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">性格</label>
      <span class="indispensable">必須</span>
      <span class="release-info">（公開あり）</span>
    </div>
    <div class='input-name-wrap'>
        <%= f.collection_select(:personality_id, Personality.all, :id, :name, {}, {class:"select-box", id:"personality"}) %>
    </div>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">郵便番号</label>
      <span class="indispensable">必須</span>
      <span class="release-info">（公開なし）</span>
    </div>
    <%= f.text_field :postal_code, class:"input-default", id:"postal-code", placeholder:"例）123-4567", maxlength:"8" %>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">都道府県</label>
      <span class="indispensable">必須</span>
      <span class="release-info">（公開あり）</span>
    </div>
    <%= f.collection_select(:prefecture_id, Prefecture.all, :id, :name, {}, {class:"select-box", id:"prefecture"}) %>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">市区町村</label>
      <span class="indispensable">必須</span>
      <span class="release-info">（公開なし）</span>
    </div>
    <%= f.text_field :town, class:"input-default", id:"town", placeholder:"例）横浜市緑区"%>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">番地</label>
      <span class="indispensable">必須</span>
      <span class="release-info">（公開なし）</span>
    </div>
    <%= f.text_field :address, class:"input-default", id:"address", placeholder:"例）青山1-1-1"%>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">建物名</label>
      <span class="form-any">任意</span>
      <span class="release-info">（公開なし）</span>
    </div>
    <%= f.text_field :building, class:"input-default", id:"building", placeholder:"例）柳ビル103"%>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">職業</label>
      <span class="indispensable">必須</span>
      <span class="release-info">（公開あり）</span>
    </div>
    <div class='input-name-wrap'>
        <%= f.collection_select(:job_id, Job.all, :id, :name, {}, {class:"select-box", id:"job"}) %>
    </div>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">自己紹介</label>
      <span class="form-any">任意</span>
      <span class="release-info">（公開あり）</span>
    </div>
    <%= f.text_field :introduction, class:"input-default", id:"introduction", placeholder:"" %>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">宿泊に伴う注意点</label>
      <span class="form-any">任意</span>
      <span class="release-info">（公開あり）</span>
    </div>
    <%= f.text_field :condition, class:"input-default", id:"condition", placeholder:""%>
  </div>

  <div class='register-btn'>
    <%= f.submit "宿主情報の更新" ,class:"register-orange-btn" %>
  </div>
</div>
<% end %>

<%= render "shared/second-footer"%>
